.shadow
    .header_container
        .back_link
            = @back
        .title
            QuestionBase
        .login
            - name = (current_user.first_name.nil?) ? "" : current_user.first_name
            %p{:class => "welcome"}= "Welcome " + name + "!"
            (
            =link_to "Sign out", logout_path, :class => "edit_link"
            )
%br