.shadow
    .header_container
        .back_link
            = @back if @back
        .title
            QuestionBase
        .login
            / - name = (current_user.first_name.nil?) ? "" : current_user.first_name
            - if current_user
                %p.welcome= "Welcome " + current_user.email + "!"
                (
                = link_to "sign out", destroy_user_session_path, :method => :delete, :class => "edit_link"
                )
%br