- @back = link_to('Back to Books', books_path)
= render :partial => "shared/header", :locals => { :back => @back } 

.content_container
  .column_content
    %h1.column_header= @book.name
    (
    =link_to('new chapter', new_chapter_path({:book_id => @book.id}), :class => "edit_link")
    )
    %br
    %hr.dotted_line
    %br
    - if @chapters.empty?
      %p.line_placeholder= "- No chapters yet! -"
    -else
      - @chapters.each do |chapter|
        .chapter_container
          - if chapter.status == 0
            .status.inactive{:chapter_id => chapter.id}
              Start
          - elsif chapter.status == 1
            .status.active{:chapter_id => chapter.id}
              Active
          - elsif chapter.status == 2
            .status.complete{:chapter_id => chapter.id}
              Complete
          - elsif chapter.status == 3
            .status.published{:chapter_id => chapter.id}
              Published 
          - if chapter.name.nil?
            (
            - if Book.find(chapter.book_id).user_id.to_i == current_user.id.to_i
              =link_to("Chapter " + chapter.number.to_s, chapter, :chapter_number => chapter.number, :class => "line_title") + link_to('edit', edit_chapter_path(chapter.id), :class => "edit_link")
            - else
              =link_to("Chapter " + chapter.number.to_s, chapter, :chapter_number => chapter.number, :class => "line_title")   
          - else
            - if Book.find(chapter.book_id).user_id.to_i == current_user.id.to_i
              =link_to("Chapter " + chapter.number.to_s + " - " + chapter.name, chapter, :chapter_number => chapter.number, :class => "line_title") + " ( " + link_to('edit', edit_chapter_path(chapter.id), :class => "edit_link")
            - else
              =link_to("Chapter " + chapter.number.to_s + " - " + chapter.name, chapter, :chapter_number => chapter.number, :class => "line_title")
          - if Book.find_by_id(chapter.book_id).user_id.to_i == current_user.id.to_i
            |
            = link_to('delete', chapter, :confirm => 'Are you sure want to delete this chapter? This cannot be undone.', :method => :delete, :class => "edit_link")
          )
      %br