.banner
	.content
		= "Friends, we can unfortunately only be in so many places at once! We will be closing the doors on QuestionBase to work on our new collaborative learning tool "
		%a{:target => "_blank", :href => "http://www.wisr.com"} Wisr
		= "come the end of 2012. This site will remain functional until then, at which point we will open source all code and maintenance of this site. If you or someone you know is interested in contributing, please "
		%a{:href => "mailto:info@studyegg.com"} get in touch.
		= "Thanks for your support!"