.menu
     = link_to_function "Top", "window.control.scrollToTop()"
     %br
     %br
     = link_to_function "Finish!", "window.builder.completeChapter()"
     %br
     %br
     = link_to_function "Add Question", "window.builder.newQuestion()"